* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #8BAE66;
}

a {
    color: inherit;
    text-decoration: none;
}

#bg-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box-login {
    width: 350px;
    min-height: 270px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 7px;
}

.box-login h2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.btn {
    padding: 8px 20px;
    background-color: #628141;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

form {
    margin-bottom: 25px;
}